html{
  font-family: 'Poiret One', cursive;
}

body {
  text-align: center;
  color: black;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 3rem;
}

button{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.hidden{
  display: none;
}